#title {
    text-align: center;
    color: white;
    font-family: "Inter"; 
    font-weight: 200;
    margin: 0;
    font-size: calc(3.5 * var(--vh));
    padding: calc(1 * var(--vh)) calc(0 * var(--vh));
    background-color: #2e2e2e;
}

#top-bar {
    display: flex; 
    justify-content: space-between;
    background-color: #2e2e2e;
    align-items: center;
    height: calc(7.2 * var(--vh));
}

#backmonthimg, #forwardmonthimg {
    width: calc(3 * var(--vh));
    height: auto;
}

#backmonth, #forwardmonth {
    background: none;
    flex: 0;
    padding: calc(5 * var(--vw));
    border: 0;
}

#calendar {
    margin: 0;
}

body {
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

#weekday-list {
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #2e2e2e; 
    margin: 0;
    padding: 0;
    height: calc(3 * var(--vh));
    font-size: calc(2 * var(--vh));
}

.weekday-title {
    display: inline-block;
    font-family: "Inter";
    color: white;
    font-weight: 200;
    border-top: 1px solid #868686;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;
    text-align: center;
    padding: calc(0.25 * var(--vh)) calc(0 * var(--vh));
}

.boxnum strong {
    float: right;
}

#calendar-box-container {
    display: grid;
    grid-template-columns: repeat(7, calc(14.284 * var(--vw)));
    grid-template-rows: repeat(6, calc(14 * var(--vh)));
    height: calc(84 * var(--vh));
}

.calendar-box {
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;
    box-sizing: border-box;
    overflow: hidden;
    scrollbar-width: 0;
}

.boxnum {
    color: white;
    padding: calc(0.1 * var(--vh)) calc(0 * var(--vh)) calc(0 * var(--vh)) calc(1 * var(--vw));
    margin: 0;
    border: 0;
    font-family: "Inter";
    font-weight: 100;
    font-size: calc(1.9 * var(--vh));
    white-space: pre-wrap;
}

.event {
    overflow: hidden;
    white-space: nowrap;
    margin: calc(1 * var(--vh)) calc(0 * var(--vw)) calc(0 * var(--vh)) calc(0.6 * var(--vw));
    font-family: "Inter";
    color: white;
    padding: calc(0.1 * var(--vh));
    padding-left: calc(0.3 * var(--vh));
    border-radius: 5px 5px 5px 5px;
    height: calc(2.8 * var(--vh));
    font-size: calc(2.3 * var(--vh));
    width: calc(12.2 * var(--vw)); 
    position: fixed;
}

.blank-event {
    overflow: hidden;
    white-space: nowrap;
    margin: calc(0.1 * var(--vh)) calc(0 * var(--vw)) calc(0 * var(--vh)) calc(0 * var(--vw));
    padding: calc(0.1 * var(--vh));
    border-radius: 0px 5px 5px 0px;
    margin-left: 0px;
    height: calc(2.8 * var(--vh));
    width: calc(11.6 * var(--vw));
    position: fixed;
}