#title {
    text-align: center;
    color: white;
    font-family: "Inter";
    font-weight: 200;
    margin: 0;
    padding: 1vh 0vh;
    background-color: #1a1a1a;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3d3d3d;
    color: white;
    font-family: "Inter";
}

#friend-request img {
    height: 15vw;
    width: 15vw;
    background-color: #3d3d3d;
}

#friend-request {
    flex: 1;
    background-color: #3d3d3d;
    border: none;
    margin-left: 5vw;
}

#friend-id-input {
    flex: 2;
    height: 20px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid rgb(0, 8, 90);
    font-family: "Inter";
    margin-left: 10vw;
}

#friend-id-input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid rgb(0, 119, 255);
    font-style: normal;
}

#add-container {
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 3vh;
}

.request-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    padding: 10px 0px;
}

.requesterInfo {
    flex: 3;
}

.request-text {
    margin: 3px;
    margin-bottom: 1px;
    margin-left: 5px;
}

.request-id {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    color: #7e7e7e;
    margin-left: 5px;
}


.accept-request {
    flex: 1;
    padding: 3px;
    border-radius: 5px;
    width: 20px;
    height: 35px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 18px;
    background-color: #0074e0;
    color: white;
    margin-right: 3vw;
}

.reject-request {
    flex: 1;
    padding: 3px;
    border-radius: 5px;
    width: 20px;
    height: 35px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 17px;
    background-color:#268f00;
    color: white;
    margin-right: 3vw;
}

.friend-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    padding: 10px 0px;
    border-top: 1px solid rgb(31, 31, 31);
}

.friendInfo {
    flex: 4;
}

.friend-uname {
    margin: 3px;
    margin-bottom: 1px;
    margin-left: 5px;
}

.friend-id {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    color: #7e7e7e;
    margin-left: 5px;
}

.remove-friend {
    flex: 1;
    padding: 3px;
    border-radius: 5px;
    width: 20px;
    height: 35px;
    font-size: 17px;
    background-color:#616161;
    color: rgb(224, 224, 224);
    margin-right: 3vw;
    border: 0;
}