body {
    background-color: black;
    font-family: "Inter"
}

#login-form {
    color: rgb(184, 184, 184);
    text-align: center;
    padding: 2vh 0%; 
}

#line1 {
    padding: 1vh 0%;
}

h1 {
    color: white;
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 2vh;
}

p {
    color: rgb(184, 184, 184);
    font-size: 2.5vh;
    margin-bottom: 4vh;
    font-weight: 300;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8vh;
}

#username {
    background-color: black;
    border: 2px solid rgb(161, 161, 161);
    margin: 0px;
    border-radius: 5px;
    margin-left: 3vw;
    padding: 5px;
    color: white;
}

#username:focus {
    outline: 0px;
    box-shadow: 0 0 10px blue;
}

#line2 {
    padding: 2vh 0%;
}

#password {
    background-color: black;
    border: 2px solid rgb(160, 160, 160);
    margin: 0px;
    border-radius: 5px;
    margin-left: 3vw;
    padding: 5px;
    color: white;
}

#password:focus {
    outline: 0px;
    box-shadow: 0 0 10px blue;
}

#buttons {
    padding-top: 2vh;
    padding-bottom: 10vh;

}

#signup {
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    background-color: #4681f4;
    border: 2px solid rgb(90, 90, 90);
    margin-right: 5vw;
}

#signup:hover {
    background-color: #80669d
}

#login {
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    background-color: #3ea185;
    border: 2px solid rgb(90, 90, 90);
    margin-left: 5vw;
}

#login:hover {
    background-color: #80669d
}

img {
    width: 15vh;
    height: 15vh;
}