#navbar {
    list-style-type: none;
    background-color: black;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    padding: calc(1 * var(--vh)) 0%;
    border-top: calc(0.1 * var(--vh)) solid gray;
    height: calc(3.8 * var(--vh));
    justify-content: space-around;
}

.navbar-item {
    padding: 0;
}

.navbar-img {
    width: calc(3.3 * var(--vh));
}

:root {
    --vh: 1vh;
    --vw: 1vw;
}