#navbar {
    list-style-type: none;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    padding: 3% 0%;
    border-top: 0.25vh solid gray;
}

.navbar-item {
    display: inline;
    padding: 0% 9.5vw;
}

.navbar-img {
    width: 5vw;
}