.switch {
    position: relative;
    display: inline-block;
    width: calc(16 * var(--vw));
    margin-right: calc(15 * var(--vw));
    height: calc(6 * var(--vw));
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
input:checked + .slider {
    background-color: #6b21f3;
}

  
input:checked + .slider:before {
    -webkit-transform: translateX(calc(8 * var(--vw)));
    -ms-transform: translateX(calc(8 * var(--vw)));
    transform: translateX(calc(8 * var(--vw)));
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .5s;
    transition: .4s;
    border-radius: calc(6 * var(--vh));
}
  
.slider:before {
    position: absolute;
    content: "";
    height: calc(4 * var(--vw));
    width: calc(4 * var(--vw));
    left: calc(1 * var(--vw));
    bottom: calc(1 * var(--vw));
    background-color: white;
    -webkit-transition: .5s;
    transition: .4s;
    border-radius: 50%;
}

body {
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter";
    text-align: center;
}

#title {
    text-align: center;
    font-weight: 200;
    margin: 0;
    padding: calc(1 * var(--vh)) calc(0 * var(--vh));
    background-color: #2e2e2e;
}

#visible-div {
    display: flex;
    justify-items: auto;
}

#visible-div p {
    flex: 1;
    flex-basis: calc(65 * var(--vw));
    margin-left: calc(10 * var(--vw));
}

#visible-div label {
    margin-top: 15px;
    flex: 1;
    flex-basis: calc(15 * var(--vw));
    margin-right: calc(15 * var(--vw));
}

button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #a074c4;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}